*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
    overflow-x: hidden;
    margin: 0 ;
}
.bg{
    background: url(./Images/nature.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute ;
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(0px);
}
.loading-text{
    color: white;
    font-size: 40px;
}